<div class="login-ui neg_margin neg_ws">
<h2 style="text-align:center;">Sign In</h2>
<div id="msg_box" class="msg_box">
	<p id="msg_box_txt">Your {{provider}} account "{{username}}" is currently not connected to Todolog.</p>
	<ul>
		<li class="fl_left inline">
		<button class="btn btn-default inline" ng-click="login.cancel()">Cancel</button>
		</li>
		<li class="fl_left inline">
		<button class="btn btn-success inline" ng-controller="root_ctrl as root" ng-click="root.redir('todolog')">Sign up to Todolog via {{provider}}</button>
		</li>
	</ul>
</div>
<div class="fl_left div-half inline neg_margin">
	<ul class="li_block btn-lrg">
		<li><p id="login_feedback" class="wrap_txt"></p></li>
		<li><h4 class="txt-center">Via social account</h4></li>
		<li>
		<a class="btn btn-block btn-social btn-facebook" ng-click="login.popup('facebook')">
			<i class="fa fa-facebook"></i> Sign in with Facebook 
		</a>
		</li>
		<li>
		<a class="btn btn-block btn-social btn-google" ng-click="login.popup('google')">
			<i class="fa fa-google"></i> Sign in with Google
		</a>
		</li>
		<li>
		<a class="btn btn-block btn-social btn-twitter" ng-click="login.popup('twitter')">
			<i class="fa fa-twitter"></i> Sign in with Twitter
		</a>
		</li>
	</ul>
</div>
<div class="fl_left neg_margin inline">
	<ul style="list-style-type:none;">
		<li><div class="vr"></div></li>
		<li><div class="vr"></div></li>
	</ul>
</div>
<div class="fl_left div-half inline neg_margin">
		<form name="login_ui_frm"  ng-submit="login_ui_frm.$valid && login.login()" ng-validate="novalidate">
		<ul class="li_block li_neg_margin">
			<li><h4>Via E-mail</h4></li>
			<li><p class="neg_margin">E-mail</p></li>
			<li><input type="text" id="email_input" ng-model="login.email" class="form-control" placeholder="Please enter your Username or E-mail here." required/></li>
			<li><p class="neg_margin">Password</p></li>
			<li>
			<ul class="neg_ws">
				<li class="inline"><input type="password" id="login_pass_input" ng-model="login.pass" class="form-control" placeholder="Please enter your Password here." required/></li>
				
				<li class="inline"><button type="button" class="btn btn-default pull-right glyphicon glyphicon-eye-close">
				</button></li>
			</ul>
			</li>
			<li><label class="txt-decor"><input type="checkbox" ng-model="login.persist"></input>Keep me signed in</label></li>
		<li><input type="submit" value="Sign in" class="btn-success form-control"/></li> 
		<li><a class="btn btn-block form-control txt-right txt-decor" ng-click="login.reset('password')">Forgot your password?</a></li> 
		
	</ul>
	</form>
</div>
</div>
