<div class="reset-ui neg_margin">
	<form name="reset_ui_frm"  ng-submit="reset_ui_frm.$valid && reset.password()" ng-validate="novalidate">
		<div id="pwd-reset-ui">
			<h2>Password Reset:</h2>
			<ul class="li_block">
				<li><h4 id="pwd_reset_feedback">To reset your password, please enter the E-mail address you used to sign up to Todolog.</h4></li>
				<li><input type="text" id="email_input" ng-model="reset.email" class="form-control" placeholder="Please enter your E-mail here." required/></li>
				<li>
				<li><input type="submit" id="" class="btn btn-default btn-block form-control" ng-click="reset.password()" value="Reset My Password"></input></li> 
			
				<li>
				<div id="signup-opt">
					<ul class="li_block">
						<li><h4 class="txt-center">OR</h4></li>
						<li align="center"><button type="button" class="btn btn-success" ng-controller="root_ctrl as root" ng-click="root.redir('signup')">Sign up</button></li>
				</ul>
			</div>
			</li>

			</ul>
		</div>
	</form>
</div>
