<div class="signup-ui neg_margin neg_ws">
<h2 style="text-align:center;">Sign up</h2>
<div class="fl_left div-half inline neg_margin">
	<ul class="li_block btn-lrg">
		<li><h4 class="txt-center">Via social account</h4></li>
		<li>
		<a class="btn btn-block btn-social btn-facebook" ng-click="signup.popup('facebook')">
			<i class="fa fa-facebook"></i> Sign Up with Facebook 
		</a>
		</li>
		<li>
		<a class="btn btn-block btn-social btn-google" ng-click="signup.popup('google')">
			<i class="fa fa-google"></i> Sign Up with Google
		</a>
		</li>
		<li>
		<a class="btn btn-block btn-social btn-twitter" ng-click="signup.popup('twitter')">
			<i class="fa fa-twitter"></i> Sign Up with Twitter
		</a>
		</li>
	</ul>
</div>
<div class="fl_left neg_margin inline">
	<ul style="list-style-type:none;">
		<li><div class="vr"></div></li>
		<li><div class="vr"></div></li>
	</ul>
</div>
<div class="fl_left div-half inline neg_margin">
	<form name="signup_ui_frm"  ng-submit="signup_ui_frm.$valid && signup.reg()" ng-validate="novalidate">
		<ul class="li_block">
			<li><p id="signup_feedback" class="wrap_txt"></p></li>
			<li><input type="text" id="user_input" ng-model="signup.username" class="form-control" placeholder="Please enter a username." required/></li>
			<li><input type="email" id="email_input" ng-model="signup.email" class="form-control" placeholder="Please enter your E-mail here." required/></li>
			<li><ul class="neg_ws">
				<li class="inline"><input type="password" id="signup_pass_input" ng-model="signup.pass" class="form-control" placeholder="Please enter your Password here." required/></li>

				<li class="inline"><button type="button" class="btn btn-default pull-right glyphicon glyphicon-eye-close">
				</button></li>
			</ul></li>
			<li><input type="submit" value="Sign up" class="btn-success btn-danger form-control"/></li>
		</ul>
	</form>
</div>
<div id="activation" class="activation">
	<div id="activation_txt">
		<ul class="li_block align-center">
			<li><img src="" id="champ_logo"/></li> 
			<li>Continue as {{username}}</li> 
			<li>CHAMP will receive the following info: your public Profile, Friend List and E-mail address.</li>
			<li><a href="">Edit the info you provide</a></li> 
			<li><div style="height:30px;"></div></li> 
			<li><img src="" id="lock_icon"/>This does not let the app post to {{provider}}.</li> 
			<li>
			<div class="f_left inline">
				<li class="f_left inline">
				<a href="">App Terms</a>
				</li>
				<li class="f_left inline">
				<a href="">Privacy Policy</a>
				</li>
			</div>
			<div class="f_right inline">
			<ul >
				<li class="f_left inline">
				<button class="btn btn-default inline" ng-click="signup.cancel()">Cancel</button>
				</li>
				<li class="f_left inline">
				<button class="btn btn-success inline" ng-controller="root_ctrl as root" ng-click="root.redir('todolog')">Okay</button>
				</li>
			</ul>
			</div>
			</li>
		</ul>
	</div>
</div>

</div>
